{% load static %}
<html>
    <head>
        <link rel='stylesheet' href="{% static 'myapp/styles.css' %}">
    </head>
    <body>
        <nav>
            <div>
                <div>
                    <div>
                        <div>
                            <img src="{% static 'myapp/images/store.png' %}" width="80" height="80" alt="logo"/>
                            <span class="p-3 text-x1">Pro_Store</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <h4>
            <!-- <a href="/myapp/test_page/{{item.id}}"></a> -->
            {%for item in items %}
            <a href="{% url 'myapp:detail' item.id %}">
            ID: {{item.id}} | Модель: {{item.name}} | Цена: {{item.price}} | Описание: {{item.description}} <br/>
                <a>
                    {% endfor %}
                </a>
            </a>
        </h4>
    </body>
</html>